# Where we can do Python practice other than jupyter notebook ??

## Online using browser (Google Chrome or Enternet Explorer or Safari)

#### 1. use jupyter notebook online
- https://colab.research.google.com/


#### 2. Alternate python online IDE
- https://www.online-python.com/
- https://www.online-ide.com/online_c++_ide
- https://www.programiz.com/python-programming/online-compiler/
- https://www.w3schools.com/python/python_compiler.asp\

## Mobile application (Android)
- https://play.google.com/store/apps/details?id=ru.iiec.pydroid3

##  Play with markdown
- point 1
- point 2 

**bolt text**

[my website](www.visionnlp.com)

1. number 1
2. number 2

y = mx+b

## Write your first line in python

In [2]:
# shift + enter
print('VisionNLP')

VisionNLP

In [3]:
print('''VisionNLP''')

VisionNLP

In [4]:
5+7-9-4*3

-9

# Basic of python

#### 1. Basic
- 1.1 Adding Comment
- 1.2 Print function
- 1.3 Statements

#### 2. Python Identifiers

- 2.1 Variable assignment
- 2.2 Assigning 'string' (str) value to variable
- 2.3 Assigning numerical value to variable
- 2.4 We can recall variable name for printing output instead of using print function (only in jupyter notebook)

### 1.1 Adding Comment :
- To add comment we can use either  ' # ' in code or direct write down in Markdown . 
- Also we can use  """ Hello World  """ for multiple lines .

In [ ]:
# adding comment

In [ ]:
# Single line comment
var1 = 9

In [ ]:
# sub of two numbers
6-4

In [ ]:
# Multiple
# line
# comment
val1 = 9

In [5]:
# addition of two numbers 
# two numbers should int 
# real life example of int : no. of family members

# 3 + 6
print(3+6)

9

In [ ]:
'''
Multiple
line
comment
'''
val1 = 9

### 1.2 Print function :
In python if we want call function then we can use simply their name follwed by arguments if exists in parentheses.

In [ ]:
# For example in print function we give what we need to print in parentheses

In [ ]:
# Lets run our first python code by printing "Hello World" 
print("Hello World")

In [ ]:
print('''Hello World! Let's Learn Python together''')

In [ ]:
print('Python is the best language')

In [6]:
# print paragraph 
print('''--0--- Understand your area of interest – Before starting learning Python, it is important to understand your area of interest so that you remain motivated. ...


--0--- Learn the basic Python syntax – It is necessary to learn the basic Python syntax before starting anything. ...


--0---Practise coding everyday – It is very important to code every day while learning a new programming language. This establishes consistency and helps you become more familiar with the language. ...''')

--0--- Understand your area of interest – Before starting learning Python, it is important to understand your area of interest so that you remain motivated. ...


--0--- Learn the basic Python syntax – It is necessary to learn the basic Python syntax before starting anything. ...


--0---Practise coding everyday – It is very important to code every day while learning a new programming language. This establishes consistency and helps you become more familiar with the language. ...

In [7]:
# print multiple arguments 
print(2*3, 4+5)

6 9

In [8]:
# print string/explaination and operations

print("numbers ", 5 ,8 ,  '\n', '---------------' , '\n' , 'addition of two numbers: ', 5+8 , '\n', '---------------' , '\n' ,  'multipliation: ', 5*8 )

numbers  5 8
 ---------------
 addition of two numbers:  13
 ---------------
 multipliation:  40

### 1.3 statements

In [ ]:
# Single line statement
p1 = 10 + 20
p1

In [ ]:
# Multiple line statement
p1 = 20 + 30 + 40 + 50 \
     + 70 + 80
p1

In [9]:
# Single line statement
p1 = 10 + 20 + 30 + 6666666666666666666666666666666666666666666666666666666666666666666666666666666666+ \
66666666666666666666666666666666
p1

6666666666666666666666666666666666666666666666666733333333333333333333333333333392

### 2. Python Identifiers :
It is a identifier/name used to define a variable , function , class. It is used to make difference between entities.

###### We have to take care of following things while writing identifiers
1. It can be of any length . 
2. It can be combination of lower cases (a-z) , upper cases (A-Z) and digits (0-9).
3. It can't be start with digit.
4. It can't be include special symbols like { !, @, #, $ , % }, etc
5. We can use '_' i.e underscore in identifire for attaching two strings or one string and one number.
6. We can't give space between letters, words or between letter and digit.
7. We can't use python keywords as a python identifier

-- Python keywords :

**in , and , or , if , else , elif , def , while , break , True , False , etc .**

python keywords are used to define the syntax and structure of the Python language.

## Examples of python identifiers

We can write identifier of any length like 
- myname
- myvillage
- myschoolmarks

We can combine letters and words while writing identifiers
- Myname 
- Mybirth19Nov
- myfavNo7

Identifiers using underscore  
- my_name 
- my_number 
- my_village

We can't start our identifier by digit
- 1stvariable 
- 19thnumber

We can't include any special symbol at any position while writing identifier 
- name@
- hello!
- time@2pm
- $rupees
- #brand

We can't write identifier using space between characcters 
- my name 
- my number 
- my village

### 2.1 Variable assignment :

Variable is used to store value and we use '=' i.e. assignment operator to assign value to it.

#### 2.2  Assigning 'string' (str) value to variable

In [10]:
# assign shweta value to my_name variable
my_name = "shweta"
print(my_name)

shweta

In [11]:
# check type of variable i.e type of it's value 
type(my_name)

str

In [14]:
# use single Quotation mark i.e. ' ' for assigning string value to variable
myname='Mayur'
print(myname)

Mayur

In [15]:
# but we can use either use single Quotation mark or double Quotation mark at a time, ow it will give an error 
my_name = " Mayur '

SyntaxError: EOL while scanning string literal (1412335209.py, line 2)

In [16]:
# assign whole statement to single variable 
place = '''I am live in Pune.'''
print(place)

I am live in Pune.

In [18]:
# whatever we have in single or double or triple qouets always considered as string
num1 = '7' 
num2 = '9'
print(num1+num2)
type(num1+num2)

79

str

#### 2.3  Assigning numerical value to variable

#### There are two types of numbers 
 1.  integer :An integer is a number with no decimal or fractional part, from the set of negative and positive numbers,         including zero 
 2.  float   :A float is a number with a decimal place

In [19]:
# assign integer number 5 to my_number variable
my_number =  5
print(my_number)

5

In [20]:
type(my_number)

int

In [21]:
# assign real number 5.4 to my_num variable
my_num = 5.4
print(my_num)

5.4

In [22]:
type(my_num)

float

In [ ]:
my_num1 = 27.3
print(my_num1)

#### 2.4  We can recall variable name for printing output instead of using print function

In [23]:
my_name

'shweta'

In [24]:
my_number

5

In [25]:
# jupyter notebook cell prints last code line 
my_name
my_number

5

In [26]:
# if we want print more outputs of same cell then we need to use print function
print(my_name)
my_number

shweta

5

In [28]:
# python keywords are not allowded as variable name
if = 'shweta'

SyntaxError: invalid syntax (1646835351.py, line 2)

#### 2.5  Multiple Assignments

In [29]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [30]:
a = b = c = d = 21 # All variables pointing to same value
print(a,b,c,d)

21 21 21 21

# Data Types
1. Numeric - Float and integer
2. String
3. Boolean

In [ ]:
# Numeric
val1 = 10 # Integer data type
val2 = 10.2 # Float data type
print(val1)
print(val2)

In [ ]:
# Boolean
# Boolean data type can have only two possible values true or false.
bool1 = True
bool2 = False
print(bool1)
print(bool2)

In [ ]:
# string
str1 = "HELLO PYTHON"
print(str1)