###### Introduction to Numpy
 - Numpy array
 - Create Numpy array
 - Array methos
 - Array Indexing
 - Array Operations
 - Iteration Through array
 - Numpy matrix
 - Random number generation
 - Mathematical & Stastistical operations in numpy

##  What is Numpy in Python

Numpy is fundamental package for scientific computing in python. Using Numpy Library we can do following operations. 
  - Mathematical and logical operations on arrays
  - Fourier tranform
  - We also do operations related to linear algebra

### Data Types in Numpy
 - (bool_) boolean
 - (int_) integer type 
 - (float_)
 - (complex_)

In [1]:
## import numpy library
import numpy as np

In [2]:
## create one dimensional array
array1 = np.array([1,2,3,4])
print(array1)

[1 2 3 4]

In [4]:
array1.shape

(4,)

In [5]:
## create two or more dimensional arrays

array2 = np.array([[1,2,3,4], [5,6,7,8]])
print(array2)

[[1 2 3 4]
 [5 6 7 8]]

In [6]:
array2.shape

(2, 4)

In [7]:
## create one dimension to multiple dimensions
array3 = np.array([1,2,3,4,5,6], ndmin = 4) 
print(array3)

[[[[1 2 3 4 5 6]]]]

In [8]:
array3.shape

(1, 1, 1, 6)

In [9]:
## convert into dtype parameter
array4 = np.array([1, 2, 3, 4], dtype = complex) 
print(array4)

[1.+0.j 2.+0.j 3.+0.j 4.+0.j]

In [10]:
## convert into dtype parameter
array4 = np.array([1, 2, 3, 4], dtype = float) 
print(array4)

[1. 2. 3. 4.]

In [11]:
## convert into dtype parameter
array4 = np.array([1, 2, 3, 4], dtype = int) 
print(array4)

[1 2 3 4]

In [14]:
## Convert list into an array
list1=[11,222,333]
ar1=np.array(list1)
ar1

array([ 11, 222, 333])

In [16]:
## covert multiple lists into array
list2=[[7,8,9],[11,21,31],[10,20,30]]
ar2=np.array(list2)
ar2

array([[ 7,  8,  9],
       [11, 21, 31],
       [10, 20, 30]])

In [17]:
ar2.shape

(3, 3)

In [18]:
 ## reshape a list in array
list3 = [1,2,3, 11,22,33,  111,222,333]
ar3=np.array(list3)
ar3

array([  1,   2,   3,  11,  22,  33, 111, 222, 333])

In [21]:
ar3 = ar3.reshape(3,3)
ar3

array([[  1,   2,   3],
       [ 11,  22,  33],
       [111, 222, 333]])

In [25]:
## NumPy arange() is one of the array creation routines based on numerical ranges.
## It creates sequence of numbers

np.arange(5,20)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [27]:
## it will create seqiuence of numbers with difference of 2
np.arange(0,20,3)

array([ 0,  3,  6,  9, 12, 15, 18])

In [28]:
# it will create 2*2 matrics of zeros
np.zeros((2,2))

array([[0., 0.],
       [0., 0.]])

In [32]:
# it will create 2*2 matrics of zeros
np.zeros((2,2))

array([[0., 0.],
       [0., 0.]])

In [34]:
# it will create 2*2 matrics of 1
np.ones((2,2))

array([[1., 1.],
       [1., 1.]])

In [37]:
## to create 3 by 3 dignonal metrics
np.eye(4,4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [40]:
## create 10 numbers between 0 to 1 in equal parts.
num1 = np.linspace(0,1,15)
num1

array([0.        , 0.07142857, 0.14285714, 0.21428571, 0.28571429,
       0.35714286, 0.42857143, 0.5       , 0.57142857, 0.64285714,
       0.71428571, 0.78571429, 0.85714286, 0.92857143, 1.        ])

In [42]:
## Ex.2 on linspace
## create 100 numbers between 0 to 1 in equal parts.

num2 = np.linspace(1,2,100)
num2

array([1.        , 1.01010101, 1.02020202, 1.03030303, 1.04040404,
       1.05050505, 1.06060606, 1.07070707, 1.08080808, 1.09090909,
       1.1010101 , 1.11111111, 1.12121212, 1.13131313, 1.14141414,
       1.15151515, 1.16161616, 1.17171717, 1.18181818, 1.19191919,
       1.2020202 , 1.21212121, 1.22222222, 1.23232323, 1.24242424,
       1.25252525, 1.26262626, 1.27272727, 1.28282828, 1.29292929,
       1.3030303 , 1.31313131, 1.32323232, 1.33333333, 1.34343434,
       1.35353535, 1.36363636, 1.37373737, 1.38383838, 1.39393939,
       1.4040404 , 1.41414141, 1.42424242, 1.43434343, 1.44444444,
       1.45454545, 1.46464646, 1.47474747, 1.48484848, 1.49494949,
       1.50505051, 1.51515152, 1.52525253, 1.53535354, 1.54545455,
       1.55555556, 1.56565657, 1.57575758, 1.58585859, 1.5959596 ,
       1.60606061, 1.61616162, 1.62626263, 1.63636364, 1.64646465,
       1.65656566, 1.66666667, 1.67676768, 1.68686869, 1.6969697 ,
       1.70707071, 1.71717172, 1.72727273, 1.73737374, 1.74747475,
       1.75757576, 1.76767677, 1.77777778, 1.78787879, 1.7979798 ,
       1.80808081, 1.81818182, 1.82828283, 1.83838384, 1.84848485,
       1.85858586, 1.86868687, 1.87878788, 1.88888889, 1.8989899 ,
       1.90909091, 1.91919192, 1.92929293, 1.93939394, 1.94949495,
       1.95959596, 1.96969697, 1.97979798, 1.98989899, 2.        ])

## Numpy Matrix

In python matrix() is returns a matrix from array or string of data.and given matrix is like specialised 2D array.

In [46]:
a = np.matrix('1 2; 3 4')
a

matrix([[1, 2],
        [3, 4]])

In [44]:
np.matrix([[1, 2], [3, 4]])

matrix([[1, 2],
        [3, 4]])

### Random Number Generation
We can generate random number from discrete as well as continuos distributions.
- Continuos Distributions: beta,chisquare,log normal , standard exponential, parato distributions
- Discrete Distributions:  binomial, poisson ,unifrom,hypergeometric,geometric distributions

In [47]:
import numpy as np

In [50]:
## to draw 1 random number between 1 to 7
ar2 = np.random.randint(1,7,1)
ar2

array([1])

In [53]:
## Ex of randit function
ar3 = np.random.randint(5,15,5)
ar3

array([13,  6,  5, 10, 13])

In [54]:
## generating random number from normal distribution
# random numbers mean=5 and sd=.2.
num1 = np.random.normal(5, .5, 10)   
num1

array([5.54111072, 4.6634769 , 5.02092241, 5.08908412, 5.62363533,
       4.94082509, 4.66447634, 4.76876749, 4.34305837, 4.5790422 ])

In [57]:
num1.mean()

4.923439897770544

In [62]:
# Ex.2 of generating random number from Standard normal distribution
num1 = np.random.normal(0, 1, 10)   
num1

array([-0.17438267,  0.40521614, -1.27934523,  0.36233232,  0.9146041 ,
        0.08559097,  0.68784225,  0.23733713, -0.47136899,  1.21774524])

In [63]:
num1.mean()

0.19855712524741967

In [67]:
## generate random numbers from binomial distribution
np.random.binomial(5,0.7,10)

array([2, 3, 3, 3, 5, 3, 2, 4, 3, 3])

In [50]:
## generating random number from Exponential distribution
num2 = np.random.exponential(5,10)
num2

array([0.75756563, 0.84569069, 0.96175499, 0.97777718, 8.00571106,
       1.60302796, 8.51572981, 5.28084231, 0.90245581, 1.51971946])

In [68]:
## generating random number from Possion distribution
num3 = np.random.poisson(3,10)
num3

array([ 3, 10,  4,  4,  0,  1,  4,  4,  0,  3])

In [71]:
num1?

In [72]:
## to shuffle the array
array = np.array([1,2,3,4,5,6,7,8])
np.random.shuffle(array)
print(array)

[2 3 8 1 7 6 5 4]

In [75]:
## to shuffle the array
lst = [x for x in range(1000)]
array = np.array(lst)
np.random.shuffle(array)
print(array)

[142 765 721 453 489 534 417 431 815 197 334 555  49 809 215 458  77 698
 798 645   7 768 401 828 287 823 127 712 824 949 321 179 399 806  13  82
 503 277 363 452 156 443 542 256 116 793 424 835 249 881 650 121 302 731
 613 240 527 885  83 107 237 640  74 643 264 796 284 622 477 369 974 617
  90 234 157 950  64 396 707 980 915 138  73 317 102 445 342 134  69   4
 372 504 860 762 308 498 992 843 734 199 791 272 390 413  20 428 365  78
 125 383 999 614 184 916  60 496 748 769 659 894 821 364 446 546 810 774
 482 545 348 267 350 965 745  79 756 946 499 608 931 449 729 600 814  89
  86 532 597 158 702 557 963 154 273 473 456 998 374  12 130 314 474 923
 519 899 208 174 265 525 940 948 588 470 871 877 312 699 219 804 311 719
 580 316 790 472 243 621 140 875  48 967 320 655 506 194  98   1 206 162
 411 861 352 934 642 654 682 952 136 841 421 245 422 253 848 872 971 126
 501 113 954 631 763 247 263 720 323 289  85 367 883 889 521 173 553  96
 161 202 465 656 195 427 252 146 200 869 133 190 996 188 697   9 508 558
  70 677 985 599 767  84 926 886 345  66 739 742 956 704 957 191 433  76
 678 620 227 598 932 502   3 958 462 221 347  58 904 218 524 178 466 327
 939 792 743 746 286 291 850 172 148 633 573 837 117 913 259 634 528  23
 349 467 884 590 816 660 515 764 535 359 480 336 878 540 714 663 779 509
 808 724  42 105 566 879 691 862 683 692 662  75 112 942 941 103 728 718
 897 426 471 217 491 800 319 696 629 436 612 838  63 324 973 991 538 799
  65  95 326 526 638 583 749 143 241  47 901 340 280 494 785 210 152 819
 539 262 637 306 328  25  16 205 578 193 435 852 368 139 385 271 536 361
 938 438 233  37   0 551 652 575 977 258 537 776 572 201 301 686 935 106
 968 118 665 332 966 833 864 408 738 649 865 801 667 936 947 423  97 163
 379 492  99 730 275 681 410 755  31 978  68 378   2 671  92 858 257 167
 407 214 895 554 562 355 713 144 651 250 357 389 917 933 805 285 444 549
 483 122 124 964 266 108 626 990 531  21 145 101 135 461 384 723  44 726
 475 211 548  46 975 740 666 829 292 669 268 115 150 615  59 373 658 920
 780 751 653 395 955 329 870  51 781 676 305 632 260 924 432 119 495 595
 786 832 183 565 430 398 802 976 180 758 970  61  56 922 254 346 132 906
 335 377 705 623  11  24 606 522 784 231 171 213   6 165 891 409 296   8
 220 543 811 813 182  14 628 664 795 817 972 104 989 777 274  81 418 951
 880 842 111 293 561 149 893  50  15 574 771 238 141 700  35 687 929 309
 890 229 497 803 517 485  62 513 854 339 839 866 415 747 563 668 961 851
 476 469 360 269  71 876 129 283 594 230 847 703 969 981 775 708 564 315
 693 896 694 684 670 902 310 487 419 464 454 343 909 778 518 120 688 511
 370 982 100 673 270 888 481  17 123 627  87 874 610 636 567 514  88 639
 338 907 607 313 222   5 307 223 351 733 276 439  29 853 797 500 303 493
 176 914  93 589 986 911 994 460 507  57 576 404  55 318 203 168 788 400
 750 325 114 867 362 177 235  94 185 690 905 393 533 356 297 282 760  38
 333 198 331 232 834 794 754  19 789 170 406 226 246 239 648  80 570 680
 757  39 820 451 722 711 855 782 486 675 868 437 892 601  41 137 873 937
 457  10 773 516  32 330 341 849 505  43 587 169  52  26 918 488 236 181
 846 624 727 279 224 450 912 995 959 584  27 944 560 987 887  22 953 616
 856 787 216 416 429 550 836  45 440 388 295 592 322 766 387  53 547 709
 715 822 591 900 604 403 299 611 189 441 979 278  36 596 844 831 212 425
 581 196 290 582 371 753  91 225  30 510 744 468 520 825 541 602 380 251
 741 735 752 463 447 706 392 826 644 529 672 910 840 984  34 354 569  28
 281 845 391 863 716 988 192 131 109 556 376 759 609 732  67 903 484 288
 478 344 455 490 261 898 164 552 586  72 812 159 857 945 962 375 725 255
 830 717 209 635 420 783 414 402 983 930 434 459 294 187 397 155 568  18
 647 300 160 701 366 448 228 559 153 381 679 579 186 997 625 204 943 605
 304 248 128 412 882 737 818 827 110 442 618 394 544 919 585 571 358  40
 993 695 807 353 603 960 405 908 147 298 593 710 577 523 382 386 512 657
 479 859 646 928 927 530 166 925 151 770 689 630 674 772 207 244  54 337
 175 685 921 619  33 641 242 761 736 661]

In [76]:
lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]

### Calculating mean

In [77]:
## To calculate mean
array = np.array([1,2,3,4,5,6,7,8])
np.mean(array)

4.5

In [83]:
## Ex. of mean
array1 = np.random.normal(5,0.8,2)
array1.mean()

4.801071213641432

### Calculating Standard deviation

In [84]:
array = np.array([1,2,3,4,5,6,7,8])
array.std()

2.29128784747792

In [85]:
## Ex. of sd
array1 = np.random.normal(5,0.8,20)
array1.std()

0.5837648660978703

In [87]:
## Here we Create another array for perform some operations.
ar1 = np.array([23,7,3,14,5,66,2,8,9])
ar1 = ar1.reshape(3,3)
ar1

array([[23,  7,  3],
       [14,  5, 66],
       [ 2,  8,  9]])

In [88]:
## to calculate max. value 
ar1.max()

66

In [89]:
## to calculate min.value
ar1.min()

2

In [91]:
# to find index position where it has max. value
ar1.argmax()

5

In [92]:
# to find index position where it has min. value
ar1.argmin()

6

## Round function
The ROUND function is used to return a number rounded to a specific number of digits

In [96]:
## The ROUND function 
np.round(234.6789,1)

234.7

## Power function
 Power function is used to calculate the power raised to the base value

In [97]:
## to calculte power of specific number
np.power(7,3)

343

In [98]:
7**3

343

In [99]:
## it will calculate the absolute value of every value in the array.
np.abs(-20)

20

In [100]:
abs(-30)

30

In [101]:
## to calculate Natural logarithm of input array elements
np.log(5)

1.6094379124341003

In [106]:
## to calculate lcm value of arr1 and arr2 elements (least common multiple)
np.lcm(10,15)

30

In [108]:
## to calculate gcd value of elements ( gretest common deviser)
np.gcd(12,75)

3

In [109]:
## to calculate a square of element
np.square(5)

25

In [110]:
## to calculate a squareroot of perticular element
np.sqrt(225)

15.0

## Math Library
  Math Library provides us access to some common math functions and constants in Python

In [111]:
## import Math library
import math

In [112]:
##  to calculate the factorial of a given number it accepts only positive number and return the factorial of number.
math.factorial(5)

120

In [113]:
## to calculate the power of e
math.exp(5)

148.4131591025766